:root {
  --porto-primary-color: #ffdd00;
  --porto-primary-color-inverse: #5bc4ba;
  --porto-secondary-color: #344257;
  --porto-secondary-color-inverse: #ffffff;
  --porto-tertiary-color: #d1e7e7;
  --porto-tertiary-color-inverse: #ffffff;
  --porto-quaternary-color: #edeada;
  --porto-quaternary-color-inverse: #777777;
  --porto-dark-color: #2e353e;
  --porto-dark-color-inverse: #ffffff;
  --porto-light-color: #ffffff;
  --porto-light-color-inverse: #777777;
  --porto-color-dark: #1d2127;
  --porto-grid-gutter-width: 30px;
  --porto-body-ff: "Open Sans";
  --porto-body-fw: 400;
  --porto-body-fs: 14px;
  --porto-body-lh: 22px;
  --porto-body-color: #777777;
  --porto-body-color-light-5: #848484;
  --porto-alt-ff: "Shadows Into Light";
  --porto-alt-fw: 400;
  --porto-menu-text-transform: uppercase;
  --porto-add-to-cart-ff: "Open Sans";
  --porto-column-spacing: 15px;
  --porto-res-spacing: 15px;
  --porto-fluid-spacing: 30px;
  --porto-container-spacing: 15px;
  --porto-primary-dark-5: #e6c700;
  --porto-primary-dark-10: #ccb100;
  --porto-primary-dark-15: #b39b00;
  --porto-primary-dark-20: #998500;
  --porto-primary-light-5: #ffe11a;
  --porto-primary-light-7: #ffe224;
  --porto-primary-light-10: #ffe433;
  --porto-primary-inverse-dark-10: #3faea3;
  --porto-secondary-dark-5: #2b3648;
  --porto-secondary-dark-10: #212a38;
  --porto-secondary-dark-15: #181e28;
  --porto-secondary-dark-20: #0e1218;
  --porto-secondary-light-5: #3e4f67;
  --porto-secondary-light-7: #42536e;
  --porto-secondary-light-10: #485b77;
  --porto-secondary-inverse-dark-10: #e6e6e6;
  --porto-tertiary-dark-5: #c1dfdf;
  --porto-tertiary-dark-10: #b0d6d6;
  --porto-tertiary-dark-15: #9fcdcd;
  --porto-tertiary-dark-20: #8ec5c5;
  --porto-tertiary-light-5: #e2f0f0;
  --porto-tertiary-light-7: #e9f4f4;
  --porto-tertiary-light-10: #f3f9f9;
  --porto-tertiary-inverse-dark-10: #e6e6e6;
  --porto-quaternary-dark-5: #e5e1c9;
  --porto-quaternary-dark-10: #ddd7b8;
  --porto-quaternary-dark-15: #d4cda7;
  --porto-quaternary-dark-20: #ccc496;
  --porto-quaternary-light-5: #f6f4ec;
  --porto-quaternary-light-7: #f9f8f3;
  --porto-quaternary-light-10: #fefefd;
  --porto-quaternary-inverse-dark-10: #5e5e5e;
  --porto-dark-dark-5: #242930;
  --porto-dark-dark-10: #191c21;
  --porto-dark-dark-15: #0e1013;
  --porto-dark-dark-20: #030304;
  --porto-dark-light-5: #39424d;
  --porto-dark-light-7: #3e4753;
  --porto-dark-light-10: #444f5c;
  --porto-dark-inverse-dark-10: #e6e6e6;
  --porto-light-dark-5: #f3f3f3;
  --porto-light-dark-10: #e6e6e6;
  --porto-light-dark-15: #d9d9d9;
  --porto-light-dark-20: #cccccc;
  --porto-light-light-5: #ffffff;
  --porto-light-light-7: #ffffff;
  --porto-light-light-10: #ffffff;
  --porto-light-inverse-dark-10: #5e5e5e;
  --porto-bgc: #fff;
  --porto-body-bg: #fff;
  --porto-color-price: #444;
  --porto-widget-bgc: #fbfbfb;
  --porto-title-bgc: #f5f5f5;
  --porto-widget-bc: #ddd;
  --porto-input-bc: rgba(0, 0, 0, 0.08);
  --porto-slide-bgc: #e7e7e7;
  --porto-heading-color: #222529;
  --porto-heading-light-8: #353a40;
  --porto-normal-bg: #fff;
  --porto-gray-bg: #dfdfdf;
  --porto-gray-1: #f4f4f4;
  --porto-gray-2: #e7e7e7;
  --porto-gray-3: #f4f4f4;
  --porto-gray-4: #ccc;
  --porto-gray-5: #e7e7e7;
  --porto-gray-6: #999;
  --porto-gray-7: #f4f4f4;
  --porto-gray-8: #f1f1f1;
  --porto-light-1: #fff;
  --porto-light-2: #fff;
  --porto-normal-bc: rgba(0, 0, 0, 0.06);
  --porto-label-bg1: rgba(255, 255, 255, 0.9);
}
.container,
.wp-block,
.col-half-section,
.elementor-section {
  --porto-container-width: 1140px;
}
h1 {
  --porto-h1-ff: "Open Sans";
  --porto-h1-fw: 400;
  --porto-h1-fs: 36px;
  --porto-h1-lh: 44px;
  --porto-h1-color: #1d2127;
}
h2 {
  --porto-h2-ff: "Open Sans";
  --porto-h2-fw: 300;
  --porto-h2-fs: 28px;
  --porto-h2-lh: 42px;
  --porto-h2-color: #1d2127;
}
h3,
.daily-deal-title {
  --porto-h3-ff: "Open Sans";
  --porto-h3-fw: 400;
  --porto-h3-fs: 24px;
  --porto-h3-lh: 32px;
  --porto-h3-color: #1d2127;
}
h4 {
  --porto-h4-ff: "Open Sans";
  --porto-h4-fw: 400;
  --porto-h4-fs: 18px;
  --porto-h4-lh: 27px;
  --porto-h4-color: #1d2127;
}
h5 {
  --porto-h5-ff: "Open Sans";
  --porto-h5-fw: 600;
  --porto-h5-fs: 14px;
  --porto-h5-lh: 18px;
  --porto-h5-color: #1d2127;
}
h6 {
  --porto-h6-ff: "Open Sans";
  --porto-h6-fw: 400;
  --porto-h6-fs: 14px;
  --porto-h6-lh: 18px;
  --porto-h6-color: #1d2127;
}
.main-sidebar-menu {
  --porto-menu-side-ff: "Open Sans";
  --porto-menu-side-fw: 400;
  --porto-menu-side-fs: 14px;
  --porto-menu-side-lh: 18px;
}
li.menu-item,
.sub-menu {
  --porto-mainmenu-popup-text-color-regular: #777777;
  --porto-mainmenu-popup-text-color-hover: #777777;
}
li.menu-item {
  --porto-mainmenu-popup-text-hbg-color: #f4f4f4;
  --porto-submenu-item-bbw: 0;
  --porto-submenu-item-lrp: 15px;
}
ul.products,
.porto-posts-grid {
  --porto-shop-add-links-color: #333333;
  --porto-shop-add-links-bg-color: #ffffff;
  --porto-shop-add-links-border-color: #dddddd;
}
.product-summary-wrap .yith-wcwl-add-to-wishlist,
.product-summary-wrap .yith-compare {
  --porto-wishlist-color: #e36159;
  --porto-wishlist-color-inverse: #ffffff;
  --porto-wishlist-color: #e36159;
  --porto-wishlist-color-inverse: #ffffff;
}
.post-date,
.onhot {
  --porto-hot-color: #62b959;
  --porto-hot-color-inverse: #ffffff;
}
.onsale {
  --porto-sale-color: #e27c7c;
  --porto-sale-color-inverse: #ffffff;
}
.onnew {
}
#header {
  --porto-header-top-link-fw: 600;
}
@media (max-width: 575px) {
  :root {
    --porto-mobile-fs-scale: 0.9286;
    --porto-body-fs: 13px;
    --porto-body-lh: 20px;
  }
  h1 {
    --porto-h1-fs: 33.4286px;
    --porto-h1-lh: 40px;
  }
  h2 {
    --porto-h2-fs: 26px;
    --porto-h2-lh: 38.1818px;
  }
  h3,
  .daily-deal-title {
    --porto-h3-fs: 22.2857px;
    --porto-h3-lh: 29.0909px;
  }
  h4 {
    --porto-h4-fs: 16.7143px;
    --porto-h4-lh: 24.5455px;
  }
  h5 {
    --porto-h5-fs: 13px;
    --porto-h5-lh: 16.3636px;
  }
  h6 {
    --porto-h6-fs: 13px;
    --porto-h6-lh: 16.3636px;
  }
}
#header .logo {
  --porto-logo-mw: 116px;
  --porto-sticky-logo-mw: 116px;
}
.side-header-narrow-bar-logo {
  --porto-side-logo-mw: 116px;
}
@media (min-width: 992px) and (max-width: 1169px) {
  .container,
  .wp-block,
  .col-half-section,
  .elementor-section {
    --porto-container-width: 960px;
  }
}
@media (min-width: 1170px) {
  #header .logo {
    --porto-logo-mw: 116px;
  }
}
@media (max-width: 991px) {
  :root {
    --porto-res-spacing: 30px;
  }
  #header .logo {
    --porto-logo-mw: 116px;
  }
}
@media (max-width: 767px) {
  #header .logo {
    --porto-logo-mw: 116px;
  }
}
@media (max-width: 575px) {
  :root {
    --porto-res-spacing: 20px;
    --porto-fluid-spacing: 20px;
    --porto-container-spacing: 5px;
  }
}
