@font-face {
  font-family: "druktext-medium";
  src: url("947DrukText-medium.woff2") format("woff2"),
    url("947DrukText-medium.woff") format("woff");
  font-display: auto;
}

.druktext-medium {
  font-family: "druktext-medium" !important;
}

@font-face {
  font-family: "druktext";
  src: url("7501DrukText.woff2") format("woff2"),
    url("7501DrukText.woff") format("woff");
  font-display: auto;
}

.druktext {
  font-family: "druktext" !important;
}

@font-face {
  font-family: "druktext-bold";
  src: url("980DrukText-Bold.woff2") format("woff2"),
    url("980DrukText-Bold.woff") format("woff");
  font-display: auto;
}

.druktext-bold {
  font-family: "druktext-bold" !important;
}

@font-face {
  font-family: "noto-sans";
  src: url("7328Noto-sans.woff2") format("woff2"),
    url("7328Noto-sans.woff") format("woff");
  font-display: auto;
}

.noto-sans {
  font-family: "noto-sans" !important;
}
